@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-rose: #FD79A8;
    --color-yellow: #E0DD6D;
    --color-yellow-light: #F6F6B7;
    --color-blue: #7A8CD8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:  "Inter", sans-serif;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--color-rose);
    padding: 2em;
}

.title {
    color: var(--color-yellow-light);
    font-family: "Bowlby One", sans-serif;
    width: 100%;
    text-align: center;
    text-shadow: 4px 3px 0px #7a8cd8;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.bar {
    width: 30%;
    background-color: var(--color-yellow-light);
    padding: .5em;
    border: 3px solid var(--color-yellow);
    color: #7a8cd8;
    display: flex;
    align-items: center;
}

.bar, #btn-search, #user-result{
    border-radius: 10px;
}

.bar i {
    background-color: var(--color-yellow);
    align-self: stretch;
    margin: -.5em .5em -.5em -.5em;
    display: flex;
    align-items: center;
    padding: .5em;
}

#id-user {
    width: 100%;
    background-color: transparent;
    border: none;
    flex-grow: 1;
    align-self: stretch;
    margin: -.5em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
}

#id-user::-webkit-inner-spin-button,
#id-user::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
#id-user { -moz-appearance:textfield; }

.bar input:focus {
    outline: 3px solid var(--color-blue); 
}

#btn-search {
    width: 10%;
    background-color: var(--color-blue);
    font-weight: bold;
    color: var(--color-yellow-light);
    font-size: 1em;
}

#user-result {
    width: 50%;
    background-color: var(--color-yellow-light);
    border: 3px solid var(--color-blue);
    display: none;
}

#user-data li{
    list-style-type: none;
    margin: 1em;
}

@media screen and (max-width: 768px){
    .bar {
        width: 60%;
    }
    #btn-search {
        width: 20%;
    }
}
